<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruge.test.mybatis.helloWorld.entity.Employee">
   <!--不使用接口-->
    <select id="unInterSelectEmp" parameterType="int" resultType="com.ruge.test.mybatis.helloWorld.entity.Employee">
     select * from tbl_employee where id = #{id}
  </select>
</mapper>