<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <!--HiddenHttpMethodFilter 可以把POST请求 转为DELETE 或 PUT-->
    <filter>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Spring MVC配置 -->
    <!-- ====================================== -->
    <servlet>
        <servlet-name>springMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 可以自定义servlet.xml配置文件的位置和名称，
        默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml

        [<init-param>] 配置DispatcherServlet的初始化參數 配置springmvc配置文件的位置及名称
        -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:test/springMVC/helloWorld/springMVC.xml</param-value>
            <!--<param-value>/WEB-INF/spring-servlet.xml</param-value>    默认-->
        </init-param>
        <!--当前加载的时候就创建 而不是第一次请求再创建  -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <!--为了实现restFul的URL 将*.do修改为/*-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
